<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2m.atl.adt.launching.atlTransformation">
<stringAttribute key="ATL File Name" value="/eq2tc/eq2tc.atl"/>
<stringAttribute key="ATL VM" value="EMF-specific VM"/>
<booleanAttribute key="IS_REFINING" value="false"/>
<mapAttribute key="Input">
<mapEntry key="IN" value="RML"/>
<mapEntry key="P" value="Profile"/>
</mapAttribute>
<mapAttribute key="Libs"/>
<mapAttribute key="Model Handler">
<mapEntry key="Profile" value="EMF"/>
<mapEntry key="RML" value="EMF"/>
<mapEntry key="TCDSL" value="EMF"/>
</mapAttribute>
<mapAttribute key="ModelType">
<mapEntry key="IN" value="MODELINPUT"/>
<mapEntry key="OUT" value="MODELOUTPUT"/>
<mapEntry key="P" value="MODELINPUT"/>
<mapEntry key="Profile" value="METAMODELINPUT"/>
<mapEntry key="RML" value="METAMODELINPUT"/>
<mapEntry key="TCDSL" value="METAMODELOUTPUT"/>
</mapAttribute>
<mapAttribute key="Options">
<mapEntry key="OPTION_CLEAR" value="true"/>
<mapEntry key="OPTION_CONTENT_TYPE" value="false"/>
<mapEntry key="OPTION_DERIVED" value="true"/>
<mapEntry key="allowInterModelReferences" value="false"/>
<mapEntry key="printExecutionTime" value="true"/>
<mapEntry key="step" value="false"/>
<mapEntry key="supportUML2Stereotypes" value="false"/>
</mapAttribute>
<listAttribute key="OrderedInput">
<listEntry value="P"/>
<listEntry value="IN"/>
</listAttribute>
<listAttribute key="OrderedOutput">
<listEntry value="OUT"/>
</listAttribute>
<mapAttribute key="Output">
<mapEntry key="OUT" value="TCDSL"/>
</mapAttribute>
<mapAttribute key="Path">
<mapEntry key="IN" value="/eq2tc/input/initial-test.xmi"/>
<mapEntry key="OUT" value="/eq2tc/output/testcases.xmi"/>
<mapEntry key="P" value=""/>
<mapEntry key="Profile" value=""/>
<mapEntry key="RML" value=""/>
<mapEntry key="TCDSL" value="/eq2tc/metamodel/testCaseEcosystem.ecore"/>
</mapAttribute>
<listAttribute key="Superimpose"/>
</launchConfiguration>
